@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");


body {
    font-family: "Lato", sans-serif;

    background-color: white;
    font-size: 30px;
    max-width: 500px;
    margin: auto;
    text-align:center;
}

table {
    font-family: "Lato", sans-serif;
    text-align: center;
    border-color: #1C3144;
    padding: 10px 0px;
    margin: 10px 0px;
    width: 100%

}
  
th {
    font-family: "Lato", sans-serif;

    background-color: #1C3144;
    color: white;
    border-radius: 0px;
    font-size: 25px;
    padding: 10px 10px;
    border: #1C3144;
    border-style: solid;

}

td {
    font-family: "Lato", sans-serif;

    background-color: white;
    border-radius: 0px;
    border: #1C3144;
    font-size: 25px;
    padding: 10px 10px; 
}

thead th {
    font-family: "Lato", sans-serif;

    background-color: black;
}



input[type=button], input[type=submit] {
  background-color: #1C3144;
  border-radius: 8px;
  color: white;
  font-size: 25px;
  padding: 10px 10px;
  touch-action:auto;

}

input[type=button]:hover, input[type=submit]:hover {
  background-color: #3e6b93;
}

input[type=text] {
    border-radius: 8px;
    font-size: 25px;
    padding: 10px 0px;
    margin: 10px 0px;
    text-align: center;
}

input {
    font-family: "Lato", sans-serif;

    width: 100%
}



.container {
    /* padding-top: 5rem; */
}