body {
    background-color: blanchedalmond;
    font-size: 30px;
    max-width: 500px;
    margin: auto;
    text-align:center;
}

table {
    text-align: center;
    border-color: #205C37;
    padding: 10px 0px;
    margin: 10px 0px;
    width: 100%

}
  
th {
    background-color: #205C37;
    color: white;
    border-radius: 0px;
    font-size: 25px;
    padding: 10px 10px;
    border: #205C37;
    border-style: solid;

}

td {
    background-color: white;
    border-radius: 0px;
    border: #205C37;
    font-size: 25px;
    padding: 10px 10px; 
}

thead th {
    background-color: black;
}



input[type=button], input[type=submit] {
  background-color: #205C37;
  border-radius: 8px;
  color: white;
  font-size: 25px;
  padding: 10px 10px;
  touch-action:auto;

}

input[type=button]:hover, input[type=submit]:hover {
  background-color: #3A754E;
}

input[type=text] {
    border-radius: 8px;
    font-size: 25px;
    padding: 10px 0px;
    margin: 10px 0px;
    text-align: center;
}

input {
    width: 100%
}
